{% extends 'base.html'%}

{%block headtitle%}| Home {%endblock%}
{%block content%}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Twitter</h1>
    </div>
</div>


<div class='row' id='tweets'>
    Loading...
</div>


<script>
    const tweetsElement = document.getElementById('tweets')  //get the html element
    // tweetsElement.innerHTML='Loading...' // set new element to the element

    // var el1="<h1>Hi There1</h1>"
    // var el2="<h1>Hi There2</h1>"
    // var el3="<h1>Hi There3</h1>"

    // tweetsElement.innerHTML=el1+el2+el3

    const xhr=new XMLHttpRequest() 
    const method='GET'
    const url='/tweets'
    const responseType="json"

    function handleDidLike(tweet_id,currentCount){
        currentCount+=1
        return 
    }

    function LikeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike("+tweet.id+","+tweet.likes+")>"+tweet.likes+" Like</button>"
    }

    function formatTweetElement(tweet){

        // var formattedTweet="<div class='mb-4' id='tweet-'+tweet.id"><p> + tweet.content+ "</p></div>"
        var formattedTweet="<div class='col-12 col-md-10 mx-auto border py-3 mb-4 rounded tweet ' id='tweet-"+tweet.id+"'><p>"+tweet.content+
            "</p><div class='btn-group'>"+ LikeBtn(tweet)            
            +"</div></div>"
        return formattedTweet
    }
    xhr.responseType=responseType
    xhr.open(method,url)
    xhr.onload=function(){
        const serverResponse=xhr.response
        const listedItems=serverResponse.response  // Array
        var finalTweetStr=""
        var i;
        for (i=0;i<listedItems.length;i++){
            tweetObj=listedItems[i]
            var currentItem=formatTweetElement(tweetObj)
            finalTweetStr+=currentItem
        }
        tweetsElement.innerHTML=finalTweetStr
        
        // console.log(listedItems)
    }
    xhr.send()

</script>
{%endblock%}